
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: border-box;
    
}


.Navbar{
    display: flex;
    justify-content: space-evenly;
    
    background-color: #0f1111;

    height: 60px;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

.Navbar p{
    color: white;
}
i{
    color: white;
}
.middle{
    display: flex;

}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    
    height: 50px;
    width: 113px;
}
.Deliver{
    height: 60px;
    width: 90px;
    display: flex;
    justify-content: center;

}
.del-icon {
    /* height: 40px; */
    margin-top: 25px;
    padding-right: 5px;
    padding-left: 5px;


}

/* .del-text p{
    margin-top: 10px;
    padding-right: 5px;
} */
.del-text {
    margin:0px ;
    padding:  0px;
    display: block;
    margin-top: 15px;

    
}

.del-text .up{
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.805);
}
.del-text .down{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    color: white;
    font-weight: bold;
}

input{
    height: 40px;
    width: 900px;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-left: 15px;
    border: none;
    outline: none;
}   
.Search-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 40px;
    width: 40px;
    background-color: #febd69;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    margin-top: 10px;
    


}
.Search-icon i{
    color: black;
}

.hello{
    
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    width: 115px;
    height: 40px;
   padding: 0px;
   margin: 0px;
   margin-top: 13px;
   
    


}

.hello .up{
    
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.84);
   
}
.hello .down{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    
}
.hello > *{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:  10px;
}

.Returns p{
    margin-top: 10px;
}
.Returns{
    width: 76px;
    padding-left: 10px;
    padding-right: 10px;

}

.Cart{
    width: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;    


}
.icon-cart i{
    padding-left: 10px;
    padding-right: 10px;

}

.bg img{
    height: 100%;
    width: 100%;
    
}

.panel{
    background-color: #222f3d;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

  
}

.panel-text{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px;
    margin: 0px;
    width: 70%;
    color: white;

    /* padding: 10px; */
   
}
.panel-text > *{
    /* padding-left: 5px;
    padding-right: 5PX; */
    margin-left: 10PX;
    margin-right: 10PX;
     font-size: 12px;

    
    

}

.panel-all{
    display: flex;
    justify-content: center;
    align-items: center;
   
    padding: 0px;
    margin: 0px;
    color: white;
    font-size: 15px;
    

}

.panel-all i{
    padding: 5px;
    font-size: 15px;
}

.last-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    color: white;
    font-size: 12px;
    font-weight: 700;

}

.background{
    background-image: url(./assests/hero_image.jpg);
   background-size: cover;
   height: 340px;
   display: flex;
   justify-content: center;
   align-items: end;
}

.info-bg{
    display: flex;
    justify-content: center;
    align-items: center ;
    background-color: white; 
    height: 40px;
    width: 90%;
    margin-bottom: 30px;
    /* font-size: 20px; */
    

    
}
.info-bg p{
    color: black;
    font-size   : 13px;

}

.info-bg a{
    color: #007185;
    font-size: 13px;
}
.box-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;

}

.box{
   
    height: 420px;
    width: 23%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 3px;
    background-color: white;

}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    


}

.box > *{
    margin: 5px;
}

.images{
    display: flex;
    justify-content: center;
    align-items: center;
}
 img{
    height: 300px;
    width: 300px;
}

.box h1{
    font-size: 21px;
    font-weight: 700 ;
    margin-left: 20px;
}
.box a{
    margin-left: 20px;
    color: #007185;
}

 img{
    height: 300px;
    width: 300px;


}


footer{
    background-color: #222f3d;
    width: 100%;
    height: 500px;
}

.backtotop{
    height: 60px;
    width: 100%;
    background-color:#37475a;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.btt-text{
    color: white;
    font-size: 17px;
    font-weight: 900px;
 }

 .grp{
    display: flex;
    justify-content: space-evenly;
    align-items: top;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
 }



 .sec{
    /* height: 290px; */
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 40px;
 }
 .sec p{
    font-size: 15px;
    font-weight: 750;
    color: white;
    padding-bottom: 10px;
    padding-left: 8px;
 }

 li{
    list-style: none;
    padding: 7px;
    color: rgb(198, 190, 190);
    font-size: 14px;
 }

 .panel-2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5px;

 }

 .panel-3{
    height: 150px;
    width: 100%;
    background-color: #222f3d;
    display: flex;
    justify-content: center;
    
    

 }

 .section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    width: 700px;
    margin-top: 30px;
 }
 .footerlogo{
    height: 100%;
    width: 150px;

 }
 .footerlogo img{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;

 }

 .copy{
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

 }

 .pages{
    height: 80px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    

 }

 .pages a{
    padding: 10px;
    color: white;
 }
.pages p{
    color: white;
    padding-bottom: 10px;
}





 